<!DOCTYPE html>
<html>
    <head>
        <title>Summernote for django</title>
        <!-- include libries(jQuery, bootstrap, fontawesome) -->
        <script src="//code.jquery.com/jquery-1.9.1.min.js"></script> 
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap.no-icons.min.css" rel="stylesheet">
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

        <!-- include summernote css/js -->
        <script src="{{ STATIC_URL }}django_summernote/summernote.min.js"></script>
        <link href="{{ STATIC_URL }}django_summernote/summernote.css" rel="stylesheet">
        {% if lang != 'en-US' %}
        <!-- include summernote language pack -->
        <script src="{{ STATIC_URL }}django_summernote/lang/summernote-{{ lang }}.js"></script>
        {% endif %}

        <!-- include jQuery File Upload js -->
        <script src="{{ STATIC_URL }}django_summernote/jquery.ui.widget.js"></script>
        <script src="{{ STATIC_URL }}django_summernote/jquery.iframe-transport.js"></script>
        <script src="{{ STATIC_URL }}django_summernote/jquery.fileupload.js"></script>

        <!-- include django-summernote -->
        <link href="{{ STATIC_URL }}django_summernote/django_summernote.css" rel="stylesheet">
    </head>
    <body>
        <div id="summernote"></div>
    </body>
    <script>
    var src = window.parent.document.getElementById('{{ id }}');
    var iframe = window.parent.document.getElementById('{{ id }}-iframe');
    var imageInput = null;
    $(src).hide(); // for IE

    $('#summernote').html(src.value);

    $('#summernote').summernote({
        height: {{ height }},
        toolbar: {{ toolbar|safe }},
        lang: '{{ lang }}',
        oninit: function() {
            var nEditor = $('.note-editor');
            var nToolbar = $('.note-toolbar');
            var nEditable = $('.note-editable');
            var setHeight = parseInt(
                                        {{ height }}  // default
                                        - nToolbar.outerHeight()  // toolbar height including margin,border,padding
                                        - (nEditable.innerHeight() - nEditable.height())  // editable's padding
                                        - (nEditor.outerHeight() - nEditor.innerHeight())  // editor's border
                                    );
            
            nEditable.height(setHeight);
        },
        onblur: function() {
            src.value = $("#summernote").code();
        },
        onImageUpload: function(files, editor, position) {
            imageInput = $('.note-image-input');
            imageInput.fileupload();
            var jqXHR = imageInput.fileupload('send', 
                {
                    files: files,
                    formData: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                    url: '{{ url.upload_attachment }}',
                })
                .success(function (result, textStatus, jqXHR) {
                    data = $.parseJSON(result);
                    $.each(data.files, function (index, file) {
                        editor.insertImage(position, file.url);
                    });
                })
                .error(function (jqXHR, textStatus, errorThrown) {
                    // TODO: Display a detailed error message. It will come from JSON.
                    alert( 'Got an error while uploading images.' );
                })
            }
        });

    // Hide resize bar - resizing iframe is not prepared, yet.
    $('.note-resizebar').hide();
    </script>
</html>
