{% load staticfiles %}
<div id='{{ id_src }}'>{{ value|safe }}</div>
<script>
$(function() {
    var {{ id }}_textarea = window.document.getElementById('{{ id_src }}-textarea');
    var {{ id }}_src = window.document.getElementById('{{ id_src }}');
    var {{ id }}_settings = {{ settings|safe }};
    var csrftoken = getCookie('{{ CSRF_COOKIE_NAME }}');

    // include summernote language pack, synchronously
    if( {{ id }}_settings.lang != 'en-US' ) {
        $.ajaxSetup({async:false});
        $.getScript('{{ STATIC_URL }}django_summernote/lang/summernote-' + {{ id }}_settings.lang + '.min.js');
        $.ajaxSetup({async:true});
    }

    $({{ id }}_textarea).hide();

    function recalcHeight(nEditor) {
        var nToolbar = nEditor.find('.note-toolbar');
        var nStatusbar = nEditor.find('.note-statusbar');
        var nEditable = nEditor.find('.note-editable');
        var height = parseInt(
            parseInt({{ id }}_settings.height)  // default
            - nToolbar.outerHeight()  // toolbar height including margin,border,padding
            - nStatusbar.outerHeight()  // statusbar height including margin,border,padding
        );
        nEditable.outerHeight(height);
    }

    $summernote = $({{ id }}_src);
    $summernote.summernote($.extend({{ id }}_settings, {
        callbacks: {
            onInit: function() {
                var nEditor = $('#{{ id_src }}').next();
                recalcHeight(nEditor);

                // Resize again when the height of note-toolbar changed
                // This enhances calculation behaviors on Safari
                new ResizeSensor(nEditor.find('.note-toolbar'), function() {
                    recalcHeight(nEditor);
                });
            },
            onBlur: function() {
                {{ id }}_textarea.value = $(this).summernote('code');
            },
            {% if not disable_upload %}
            onImageUpload: function(files) {
                var imageInput = $('.note-image-input');
                var sn = $(this);
                // custom attachment data
                var attachmentData = {{ id }}_textarea.dataset;
                imageInput.fileupload();
                var jqXHR = imageInput.fileupload('send', 
                    {
                        files: files,
                        formData: $.extend({csrfmiddlewaretoken: csrftoken}, attachmentData),
                        url: {{ id }}_settings.url.upload_attachment,
                    })
                    .done(function (data, textStatus, jqXHR) {
                        $.each(data.files, function (index, file) {
                            sn.summernote("insertImage", file.url);
                        });
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        // if the error message from the server has any text in it, show it
                        var msg = jqXHR.responseText;
                        if (msg.length > 0) {
                            alert('Got an error uploading an image: ' + msg);
                        }
                        // otherwise, show something generic
                        else {
                            alert('Got an error while uploading images.');
                        }
                    });
            }
            {% endif %}
        }
    }));

    // See https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
});
</script>
