{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>django-summernote frame</title>
        {% for url in css %}
        <link href="{{ url }}" rel="stylesheet">{% endfor %}
        {% for url in js %}
        <script src="{{ url }}"></script>{% endfor %}
    </head>
    <body>
        <div id="summernote"></div>
    </body>
    <script>
    $(function() {
        var iframe = window.parent.document.getElementById('{{ id }}_iframe');
        var src = window.parent.document.getElementById('{{ id_src }}');
        var imageInput = null;
        $(src).hide(); /* for IE */

        /* get settings from parent window */
        var settings = window.parent.settings_{{ id }};

        // include summernote language pack, synchronously
        if( settings.lang != 'en-US' ) {
            $.ajaxSetup({async:false});
            $.getScript('{% static "django_summernote/lang/summernote-" %}' + settings.lang + '.min.js');
            $.ajaxSetup({async:true});
        }

        $('#summernote').html(src.value);

        function recalcHeight() {
            var nToolbar = $('.note-toolbar');
            var nEditor = $('.note-editor');
            var nEditable = $('.note-editable');
            var height = parseInt(
                parseInt(settings.height)  // default
                - nToolbar.outerHeight()  // toolbar height including margin,border,padding
                - (nEditor.outerHeight() - nEditor.innerHeight())  // editor's border
            );
            nEditable.outerHeight(height);
        }

        $('#summernote').summernote($.extend(settings, {
            callbacks: {
                onInit: function() {
                    $(iframe).height(settings.height);
                    recalcHeight();

                    // Resize again when the height of note-toolbar changed
                    // This enhances calculation behaviors on Safari
                    new ResizeSensor($('.note-toolbar'), function() {
                        recalcHeight();
                    });

                    $('.note-btn-group').on('shown.bs.dropdown', function () {
                        var nDropdown = $(this).find(".dropdown-menu");
                        var offset = nDropdown.offset();
                        var width = nDropdown.width();

                        var windowWidth = $(window).width();
                        var margin = 15;

                        if( offset.left + width + margin > windowWidth ) {
                            var left = windowWidth - width - offset.left - margin;
                            nDropdown.css("left", left + "px");
                        }
                    });
                },
                onBlur: function() {
                    src.value = $("#summernote").summernote('code');
                },
                {% if not disable_upload %}
                onImageUpload: function(files) {
                    var sn = $(this);
                    // custom attachment data
                    var attachmentData = src.dataset;
                    imageInput = $('.note-image-input');
                    imageInput.fileupload();
                    var jqXHR = imageInput.fileupload('send', 
                        {
                            files: files,
                            formData: $.extend({csrfmiddlewaretoken: '{{ csrf_token }}'}, attachmentData),
                            url: settings.url.upload_attachment,
                        })
                        .success(function (data, textStatus, jqXHR) {
                            $.each(data.files, function (index, file) {
                                sn.summernote("insertImage", file.url);
                            });
                        })
                        .error(function (jqXHR, textStatus, errorThrown) {
                            // if the error message from the server has any text in it, show it
                            var msg = jqXHR.responseText;
                            if (msg.length > 0) {
                                alert('Got an error uploading an image: ' + msg);
                            }
                            // otherwise, show something generic
                            else {
                                alert('Got an error while uploading images.');
                            }
                        });
                 }
                 {% endif %}
            }
        }));

        // Hide resize bar - resizing iframe is not prepared, yet.
        $('.note-resizebar').hide();
    });
    </script>
</html>
